credentials.json
token_tasks.pickle
gmail_token.pickle
__pycache__/
logged_in_credentials.json

.python_packages
.env
__azurite*
__blobstorage__
local.settings.json
.coverage
UseCases/MangaUpdate/openapi.yaml
mietplan_credentials.json
*.pdf
lohnzettel_pw.secret
investigations/amazon_rueckgabe.html
